<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout(~{::body})}">

<body>

<h2 th:text="${courseId != null ? 'Éditer un cours' : 'Créer un cours'}">Créer un cours</h2>


<!-- ======================== -->
<!-- FORMULAIRE CREATION -->
<!-- ======================== -->
<form th:if="${courseId == null}"
      th:action="@{/teacher/courses}"
      th:object="${courseForm}"
      method="post"
      enctype="multipart/form-data"
      class="mt-3 col-md-6">

    <div class="mb-3">
        <label class="form-label">Code du cours</label>
        <input class="form-control" th:field="*{code}">
        <div class="form-text">Exemples : DEV-SB101, BDD-202…</div>
    </div>

    <div class="mb-3">
        <label class="form-label">Titre</label>
        <input class="form-control" th:field="*{title}">
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="5"
                  th:field="*{description}"></textarea>
    </div>

    <!-- UPLOAD DU FICHIER PDF/WORD -->
    <div class="mb-3">
        <label class="form-label">Fichier de support (PDF, Word…)</label>
        <input type="file" name="file" class="form-control">
        <div class="form-text">Formats acceptés : PDF, DOCX, PPT, ZIP…</div>
    </div>

    <button class="btn btn-primary">Créer</button>
    <a class="btn btn-secondary ms-2" th:href="@{/teacher/courses}">Annuler</a>
</form>



<!-- ======================== -->
<!-- FORMULAIRE EDITION -->
<!-- ======================== -->
<form th:if="${courseId != null}"
      th:action="@{|/teacher/courses/${courseId}|}"
      th:object="${courseForm}"
      method="post"
      enctype="multipart/form-data"
      class="mt-3 col-md-6">

    <div class="mb-3">
        <label class="form-label">Code du cours</label>
        <input class="form-control" th:field="*{code}">
    </div>

    <div class="mb-3">
        <label class="form-label">Titre</label>
        <input class="form-control" th:field="*{title}">
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="5"
                  th:field="*{description}"></textarea>
    </div>

    <!-- UPLOAD DU FICHIER LORS DE L'EDITION -->
    <div class="mb-3">
        <label class="form-label">Ajouter / remplacer le fichier de support</label>
        <input type="file" name="file" class="form-control">
        <div class="form-text">
            Laisser vide si vous ne souhaitez pas modifier le fichier.
        </div>
    </div>

    <button class="btn btn-primary">Mettre à jour</button>
    <a class="btn btn-secondary ms-2" th:href="@{/teacher/courses}">Annuler</a>
</form>

</body>
</html>